importFrom("grDevices", "rainbow")
importFrom("graphics", "legend")
importFrom("utils", "read.table")
importFrom("graphics", "plot")
importFrom("methods", "is")
importFrom("stats", "ave")

import("igraph")

export(
  "POMDP", 
  "solve_POMDP", 
  "solver_output", 
  "model",
  "solution",
  "policy_graph",
  "write_POMDP")

S3method("plot", "POMDP")
S3method("print", "POMDP")
S3method("print", "POMDP_model")
S3method("print", "POMDP_solution")